html{
    scroll-behavior: smooth;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --grey: #85888C;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.total{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav {
    background-color: #18386a;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    padding-top: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

nav .mainMenu li a:hover{
    color: #ccff66;
}

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    margin-top: 30px;
    display: none;
    cursor: pointer;
}


nav .openMenu, .closeMenu, .icons i{
    font-size:2rem;
    display: none;
    cursor: pointer;
}

nav .logo{
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    min-width:150px;
    max-width:300px;
    display: flex;
}


@media(max-width: 930px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #18386a;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display:block;
    }
    nav .mainMenu li a:hover{
        transition: 0.2s;
        background: none;
        color: #ccff66;
        font-size: 1.6rem;
    }
}

#imgLogo{
    max-width:300px;
    min-width: 100px;
    margin-top:9px;
}


/* paralax 1 */

#banner{
    margin-top: 70px;
    position: relative;
    
}

#banner video{
    z-index: -1;
}

#audioBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#audioLigado{
    display: none;
}
#audioDesligado{
    display: block;
}

#audioOn{
    z-index: 2;
    cursor: pointer;
    display: none;
}

.textos{
    align-items: center;
    text-align: justify;
    padding: 50px 0px;
    margin: auto 10%;
    overflow: hidden;
}

.textos h1{
    margin-bottom:20px;
}

@media only screen and (max-device-width: 800px) {
    .parallax {
        background-attachment: scroll;
    }
}


/* caixas responsivas do footer */
#footer{
    background-color: #18386a;
}
.centro{
    text-align: center;
}
.texto{
    text-align: justify;
    font-size: 1.3rem;
}
.responsiveBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding:20px;
}
.responsiveItem{
    width: 250px;
    height: 150px;
}

.responsiveItem i{
    color: #ccff66;
}

.grade2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-bottom: 50px;
}

/*para as partes onde a imagem aparece a esquerda mas depois inverte*/
.casoInverte{
    grid-auto-flow: dense;
    direction: rtl;
}
.naoInverte{
    grid-auto-flow: dense;
    direction: ltr;
}

.grade2 div{
    width: 100%;
}

.textsize{
    font-size:1.5rem;
    text-align:center;
}
.carro1{
    width:100%;
}

@media screen and (max-width:860px) {
    .grade2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        align-items: start;
        justify-content:center;
    }   

    .grade2 .img{
        width:70%;
        margin: auto;
    }

    .textos{
        align-items: center;
    }
    
    .textos h1{
        font-size:35px;
    }
    .textos p{
        font-size:20px;
        text-align: justify!important;
    }
    .textLeft{
        text-align:center!important;
    }
    .textRight{
        text-align:center!important;
    }



    .pagina2{
        margin: auto;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        width: 98%;
        text-align: center;
        padding: 10px
    }
    
    .pagina2 h1{
        font-size:16px;
    }
    .pagina2 p{
        font-size:12px;
    }
}

@media screen and (max-width:520px) {
    .grade2 .img{
        width:90%;
        margin: auto;
    }
}

.botao{
    border: none!important;
    padding: 12px!important;
    border-radius: 10px;
    cursor: pointer;
    font-size:1.2rem!important;
    margin-top:20px!important;
    background-color: #18386a!important;
    color: #ccff66!important;
    transition:ease 0.3s;
}
.botao:hover{
    background-color: #6d8fc5!important;
    color: #131c03!important;
    transition:ease 0.3s!important;
}




.right{
    float:right;
}
.left{
    float:left;
}

.textLeft{
    text-align:left;
}
.textRight{
    text-align:right;
}



.gradient-text {
    display: inline-block;
    background-image: linear-gradient(180deg, #aaff00, #18386a);
    background-size:auto;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-text-fill-color: transparent;
}



.hiddenL{
    opacity: 0;
    transform: translateX(-100%);
}
.hiddenR{
    opacity: 0;
    transform: translateX(+100%);
}
.hiddenImg{
    opacity: 0;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.anima1{
    transition: all 0.7s;
}
.anima2{
    transition: all 1s;
}
.anima3{
    transition: all 2.3s;
}




#faleconosco{
    text-align: center;
}

#faleconosco form{
    width: 90%;
    margin: auto;
}
#faleconosco form input,textarea{
    display: block;
    width: 70%;
    margin: auto;
    background-color:rgb(241, 232, 232);
    margin-bottom:10px;
    border: 1px solid #18386a;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 17px;
}

#faleconosco form input{
    height: 40px;
}

#faleconosco form label{
    position: relative;
    width: 100%;
}

#faleconosco .icone{
    position: absolute;
    top: 10px;
    left: -68%;
}

#faleconosco form textarea{
    height: 90px
}
.icone{
    transition: all 1s;
}
#first-name:focus ~ #iconePessoa{
    transform: translateX(-20px);
    transition: all 1s;
}
#phone:focus ~ #iconePhone{
    transform: translateX(-20px);
    transition: all 1s;
}
#email:focus ~ #iconeEmail{
    transform: translateX(-20px);
    transition: all 1s;
}



@media screen and (max-width: 600px){
    #faleconosco form{
        width: 100%;
        margin: auto;
    }
    #faleconosco form input,textarea{
        width: 100%;
    }
    #faleconosco .icone{
        left: -98%;
    }
}



#qrbtn{
    display: grid;
    justify-content: center;
}
#qrbtn img{
    margin: auto;
}

#sendBtn{
    width: 50%!important;
}



/*

.parallaxA {
    background-image: url("https://cdn-media-1.freecodecamp.org/images/wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxB {
    background-image: url("https://anbc.org.br/wp-content/uploads/2015/12/placeholder.gif");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/





/*      //////////////Footer//////////////        */
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width:1000px;
    margin: auto;
}
.footer{
    background-color: #18386a;
    padding: 70px 0;
}
.footerCol{
    width: 25%;
    padding: 0 15px;
}
.footerCol h4{
    font-size:18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}
.footerCol ul li:not(:last-child){
    margin-bottom:10px;
}

.footerCol ul li a{
    font-size: 16px;
    color: #bbb;
    font-weight: 300;
    display: block;
    transition: all 0.3s;
}
.footerCol ul li a:hover{
    color: #fff;
    padding-left: 10px;
}

.social h4{
    margin-left: 20px;
}

.social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #fff;
    transition: all 0.3s;
}

.social a:hover{
    color: rgba(0, 34, 255, 1);
    background-color: #fff;
}


@media(max-width: 731px) {
    .footerCol{
        width: 50%;
        padding-bottom: 30px;
    }
}

@media(max-width: 450px) {
    .footerCol{
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
    }
}

.esg img{
    width: 50px;
    height: 50px;
    border-radius:25%;
}



.pagina2{
    margin: auto;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 90%;
    text-align: justify;
    padding: 10px
}

.pagina2 h1{
    margin: 50px auto;
    text-align: center !important;
    color: #18386a !important;
}



/*slides das imagens*/

/*//////////precisa ser responsivo/////////////////*/
.slider{
    width: 400px!important;
    height: 400px!important;
    margin: auto;
    overflow: hidden;
}


/*//////////precisa ser responsivo/////////////////*/
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}



.slides input{
    display: none;
}

.slide{
    width: 25%;
    transition: 2s;
}

/*//////////precisa ser responsivo/////////////////*/
.slide img{
    width: 400px;
}



#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}